.button {
    text-align: center;
    padding: 10px;
    display: flex;
    font-weight: normal;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: beige;
}