.main {
    font-weight: bold;
    width: 100%;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}